.haButton {
  background-image: linear-gradient(
    to right,
    #6190e8 0%,
    #a7bfe8 51%,
    #6190e8 100%
  );
  padding: 10px 40px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.haButton:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.onhover:hover {
  color: rgb(59 130 246);
}
